@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}
$dark-cobalt: #3e52a3;
$orange: #fb7413;
$white: #ffffff;
$light-grey: #959eac;
$medium-grey: #7c8798;
$light-dark-blue: #262f38;
$dark-blue: #212831;
$medium-dark-blue: #181f29;
$very-dark-blue: #121417;
$font-weights: (
  "regular": 400,
  "bold": 700,
);
.attribution {
  margin-top: 0.5em;
  font-size: 11px;
  text-align: center;
  color: $light-grey;
}
.attribution a {
  color: $dark-cobalt;
}
